{% include "inc/head.html" %}

    
        <!-- Responsive navbar-->
       
        <section class="ftco-section">
            
    
            <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container">
              <p class="navbar-brand">Insituto Federal do Rio Grande do Sul <br> Campus Bento Gonçalves</p>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
              </button>
    
              <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Incluir</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown04">
                    <a class="dropdown-item" href="incluir.php?tipo=admin">Administrador</a>
                      <a class="dropdown-item" href="incluir.php?tipo=aluno">Aluno</a>
                    <a class="dropdown-item" href="incluir.php?tipo=turma">Turma</a>
                    <a class="dropdown-item" href="incluir.php?tipo=curso">Curso</a>
                    <a class="dropdown-item" href="incluir.php?tipo=nivel">Nível de ensino</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Alterar</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown04">

                    <a class="dropdown-item" href="seleciona.php?tipo=admin">Administrador</a>
                    <a class="dropdown-item" href="seleciona.php?tipo=turma">Turma</a>
                    <a class="dropdown-item" href="seleciona.php?tipo=curso">Curso</a>
                    <a class="dropdown-item" href="seleciona.php?tipo=nivel">Nível de ensino</a>

                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Excluir</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown04">

                    <a class="dropdown-item" href="seleciona.php?tipo=adminexclui">Administrador</a>
                    <a class="dropdown-item" href="seleciona.php?tipo=turmaexclui">Turma</a>
                    <a class="dropdown-item" href="seleciona.php?tipo=cursoexclui">Curso</a>
                    <a class="dropdown-item" href="seleciona.php?tipo=nivelexclui">Nível de ensino</a>

                  </div>
                </li>
                    
                  <li class="nav-item cta"><a href="logout.php" class="nav-link">Sair</a></li>
                </ul>
              </div>
            </div>
          </nav>
        <!-- END nav -->
    
        </section>
    
       


        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-4">
                    
                
                
               


        {% for usr in user %}
 
                                
                        <div class='col-md-6 col-lg-4 wow fadeInUp' data-wow-delay='0.5s'>
                            <div class='service-item rounded overflow-hidden border border-dark'>
                                <img class='img-fluid' src='{{ usr.foto }}' alt='ad'>
                                <div class='position-relative p-4 pt-0'>
                                    <br>
                                    <h4 class='mb-3'>{{ usr.nome_aluno }}</h4>


                                    <p>Data de nascimento: {{ usr.data_nasc }}</p>
                                    <p>Turma: {{ usr.nome_turma }}</p>
                                    <p>Curso: {{ usr.nome_curso }}</p>
                                    <P>Nível de ensino: {{ usr.nome_nivel }}</P>
                                    <a class='small fw-medium'><a href='altera_dados.php?indice={{usr.idalunos}}&tipo=aluno'>Alterar</a> |
                                <a href='excluir.php?indice={{ usr.idalunos }}&tipo=aluno'>Excluir</a></a>

                                </div>
                            </div>
                        </div>
                        
         {% endfor %}





                </div>
            </div>
        </div>
        <!-- Service End -->
    
{% include "inc/foot.html" %}

